@tailwind base;
@tailwind components;
@tailwind utilities;


body {
background: #f3f2f9;
}

.blob {
  position: absolute;
  width: 70vw;
  filter: blur(42px);
  opacity: 0.78;
  mix-blend-mode: multiply;
}

.blob-1 {
  top: -30%;
  left: -15%;
}

.blob-2 {
  top: 10%;
  right: -20%;
}

.blob-3 {
  bottom: -35%;
  left: 15%;
}




@media (max-width: 768px) {
.blob { filter: blur(40px); opacity: 0.6; }
}


@media (prefers-reduced-motion: reduce) {
.blob { animation: none; }
}